block app
  .app
    .app__img
      img(src="img/phone-app@1x.png", srcset="img/phone-app@2x.png 2x" alt="")
    .app__link-block
      .app__title
        | Не отказывайтесь от любимых товаров — покупайте их дешевле!
      .app__text
        | Скачайте приложение «Price Hacker» и переходите к рациональному шопингу уже сегодня! 
      .app__btn.button.button--coral Cкачать
      +svg("confetti", "500", "316")
