block new
  .new-approach
    .new-approach__title
      | «Price Hacker» — <br>ваш новый подход к&nbsp;шопингу!
      +svg("blue-dots", "225", "227")
    .new-approach__text
      | Price Hacker – платформа, с помощью которой вы покупаете продукты питания, одежду и&nbsp;товары для дома у производителя напрямую. По максимально низкой цене
    .new-approach__img
      .new-approach__img-item.new-approach__img-item--big-dino
        +svg("dino-big", "558", "435")
      .new-approach__img-item.new-approach__img-item--apple
        +svg("circle-apple", "126", "141")
        span Лучшие в Москве фрукты и овощи
      .new-approach__img-item.new-approach__img-item--soap
        +svg("circle-soap", "111", "111")
        span Экологичные товары для дома
      .new-approach__img-item.new-approach__img-item--sun
        +svg("circle-sun", "147", "175")
        span Фермерские продукты
      .new-approach__img-item.new-approach__img-item--clothes
        +svg("circle-clothes", "111", "119")
        span Одежда для детей и&nbsp;взрослых от модных локальных брендов
      .new-approach__img-item.new-approach__img-item--present
        +svg("circle-present", "160", "161")
        span И другие категории товаров
      .new-approach__img-item.new-approach__img-item--leafs
        +svg("circle-leafs", "111", "111")
        span Кофе и чай высших сортов 
      .new-approach__img-mobile
        img(src="img/mobile-dino@1x.png" srcset="img/mobile-dino@2x.png 2x" alt="")