.questions
  .questions__list
    .questions__list-item
      h2.questions__title
        | Почему в «Pricehacker» товары стоят&nbsp;дешевле?
      p.questions__text
        | Платформа «Pricehacker» дает возможность покупать у производителя напрямую. Таким&nbsp;образом, вам не приходится переплачивать участникам цепочки «производитель&nbsp;—&nbsp;дистрибьютор — розничный магазин»
    .questions__list-item
      h2.questions__title
        | Почему «Pricehacker» выгоднее других онлайн-магазинов?
      p.questions__text
        | «Pricehacker» поддерживает желание людей создавать и объединяться в комьюнити. Поэтому&nbsp;именно для совместных закупок мы предоставляем самые выгодные, оптовые&nbsp;цены.
    .questions__list-item
      h2.questions__title
        | В&nbsp;чем отличие товаров «Pricehacker»?
      p.questions__text
        | В&nbsp;качестве. Высокое качество — главное требование, предъявляемое «Pricehacker» к товарам. Мы избирательно подходим к выбору производителей и исключаем продукцию низкого качества
    .questions__list-item
      h2.questions__title
        | Товары премиум-качества – это дорого! В&nbsp;чем экономия?
      p.questions__text
        | На нашей платформе покупатели заказывают продукцию у российских и&nbsp;зарубежных&nbsp;производителей напрямую. Это позволяет приобретать товары премиум&nbsp;-&nbsp;сегмента по ценам, сравнимым с ценами на товары более низкого качества в&nbsp;обычных розничных магазинах. А совместные закупки в рамках комьюнити делают эти цены еще ниже
    .questions__list-item
      h2.questions__title
        | Как я могу найти партнеров для совместных покупок? Является ли это обязательным?
      p.questions__text
        | Чаще всего такими партнерами становятся соседи, живущие в одном доме или поселке, родственники или друзья. Совместная закупка позволяет существенно снизить цену за счет объема, но вы всегда можете купить товар в одиночку
    .questions__list-item
      h2.questions__title
        | Как я могу планировать бюджет и покупки с&nbsp;«Price Hacker»?
      p.questions__text
        | Приложение помогает избегать импульсивного шопинга и получать выгодные цены за&nbsp;счет совместных покупок и presale-предложений
    .questions__btn.button.button--grey Показать все ответы