block reduce
  .reduce
    .reduce__title
      |  Как сократить затраты на&nbsp;30%? 
    .reduce__text
      |  Используйте 5 эффективных инструментов «Pricehacker»: 
    .reduce__list
      .reduce__list-item
        +svg("checkbox", "48", "48")
        span Планируйте бюджет и покупки, чтобы не тратить лишнее
      .reduce__list-item
        +svg("checkbox", "48", "48")
        span Покупайте все привычные товары в одном месте  
      .reduce__list-item
        +svg("checkbox", "48", "48")
        span Оформляйте предзаказ, чтобы платить меньше
      .reduce__list-item
        +svg("checkbox", "48", "48")
        span Делайте совместные покупки с соседями и друзьями
      .reduce__list-item
        +svg("checkbox", "48", "48")
        span Покупайте мелким оптом

