.button {
  @include button-reset-style;
  height: 64px;
  box-sizing: border-box;
  border-radius: 4px;


  &--coral {
    text-align: center;
    letter-spacing: 0.35px;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    color: #FFFFFF;
    background-color: $color-coral;
    padding: 22px 11px;
    width: 250px;
    transition: background-color 0.2s;

    &:hover {
      background-color: $color-coral-hover;
    }

    @include mobile {
      width: size(250px);
      margin-left: 0;
      font-weight: 600;
      font-size: size(17px);
      line-height: size(22px);
      padding: size(22px) size(11px) size(19px);
    }
  }

  &--black {
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    padding: 31px 30px 27px 30px;
    background-color: $color-dark-green;
    letter-spacing: 0.08em;
    color: $color-light-grey;
    width: 260px;
    margin-right: auto;
    height: 72px;
    display: flex;
    align-items: center;

    svg {
      margin-left: 27px;
    }

    @include mobile {
      font-size: size(16px);
      line-height: size(18px);
      padding: size(31px) size(27px) size(27px) size(27px);
      width: size(260px);
      height: size(72px);
      svg {
        margin-left: size(27px);
        width: size(31px);
        height: size(12px);
      }
    }
  }

  &--grey {
    width: 250px;
    margin: 0 25px;
    background-color: $color-bg-grey;
    text-align: center;

    @include mobile {
      width: size(250px);
      margin: 0 size(25px);
      font-weight: 600;
      font-size: size(17px);
      line-height: size(22px);
      padding: size(22px) size(11px) size(19px);

    }
  }
}