.questions {
  width: size(729px);
  margin-left: 52px;
  margin-bottom: 168px;
  max-width: 800px;

  @media (max-width: 1000px) {
    margin-bottom: 68px;
  }

  @include mobile {
    margin-left: 0;
    margin-bottom: size(88px);
    max-width: 90%;
  }

  &__title {
    font-weight: normal;
    font-size: 34px;
    line-height: 46px;
    margin: 0 0 16px 0;

    @include tablet {
      font-size: 28px;
      line-height: 34px;
    }

    @include mobile {
      font-size: size(24px);
      line-height: size(32px);
      margin: 0 0 size(24px) 0;
    }

  }

  &__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 48px 0;
    padding-right: 50px;

    @include mobile {
      font-size: size(16px);
      line-height:  size(24px);
      margin: 0 0 size(52px) 0;
      padding-right: size(5px);


    }
  }

  &__list-item {
    @include mobile {
      display: none;

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        display: block;
      }

      &:nth-child(4) {
        padding-top: size(144px);
        position: relative;
        &::after {
          position: absolute;
          content: "";
          width: size(215px);
          height: size(163px);
          background-image: url(./../../img/label-mob-2.svg);
          background-position: left;
          background-repeat: no-repeat;
          top: size(-40px);
          left: size(-40px);
          z-index: 5;
          background-size: 100%;
        }
      }

      &:nth-child(5) {
        position: relative;
        &::after {
          position: absolute;
          content: "";
          width: size(41px);
          height: size(212px);
          background-image: url(./../../img/label-mob-3.svg);
          background-position: left;
          background-repeat: no-repeat;
          top: size(-40px);
          right: size(-40px);
          z-index: 5;
          background-size: 100%;
        }


      }

      &.show {
        display: block !important;
      }

      &:first-of-type {
        position: relative;
        &::after {
          position: absolute;
          content: "";
          width: size(46px);
          height: size(285px);
          background-image: url(./../../img/label-mob-1.svg);
          background-position: right;
          background-repeat: no-repeat;
          top: size(123px);
          right: size(-40px);
          z-index: 5;
          background-size: 100%;
        }
      }
    }
  }

  &__btn {
    display: none;

    @include mobile {
      height: size(65px);
      display: block;
      &.hide {
        display: none;
      }
    }
  }
}