extends pug/layout.pug

block variables
  - let title = 'Правила сервиса Pricehacker';
  - let isAgreement = true;

block content
  .container.container__agreement
    h1 #{title}
    span.container__agreement--date редакция от 05 октября 2020 г.
    include pug/partials/agreement

