$width-desktop: 1440px;
$width-laptop: 1200px;
$width-tablet: 768px;
$width-mobile: 320px;
$width-min: 320px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$font-family: "Muller", "Arial", sans-serif;
$font-base: 22px;

$color-white: #ffffff;
$color-black: #000000;
$color-dark-green: #333E2B;
$color-green: #00AF57;
$color-dark-grey: #50545A;
$color-grey: #ADB6BB;
$color-coral: #F06C4E;
$color-coral-hover: #F29479;
$color-light-grey:#F4F8FB;
$color-bg-grey:#F2F2F2;;
$color-black-footer: #062431;
